<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Sales Scientist</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<style>
</style>
<script src=""></script>
<body style="background-color:gray;">

<div class="login">
        <div style="margin-left:10%; margin-right:10%;",  outline-color: gray;>
        <img width="150" height="150", src="https://raw.githubusercontent.com/spe301/Sales-Scientist/main/images/a5773e62e5ea4088b89df2fdea7eb190.png">
        </div>

{{ data | safe }}


<br>
<br>

<div class="">
 <p>Your CSV files have been updated and saved</p>
</div>

</body>
</html>